
Data source https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata/code?datasetId=138&sortBy=voteCount

# load the dataset

In [1]:
import pandas as pd
import numpy as np

C:\Users\mkmah\anaconda3\envs\en_2\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\mkmah\anaconda3\envs\en_2\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\mkmah\anaconda3\envs\en_2\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
movies = pd.read_csv("tmdb_5000_movies.csv")

In [3]:
credits = pd.read_csv("tmdb_5000_credits.csv")

In [4]:
movies.sample(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
1188,40000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",NaN,8007,"[{""id"": 720, ""name"": ""helicopter""}, {""id"": 132...",en,Behind Enemy Lines,While flying a routine reconnaissance mission ...,24.012986,"[{""name"": ""Twentieth Century Fox Film Corporat...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2001-11-17,91753202,106.0,"[{""iso_639_1"": ""cs"", ""name"": ""\u010cesk\u00fd""...",Released,His only weapon is his will to survive.,Behind Enemy Lines,6.0,457

In [5]:
credits.sample(1)

,movie_id,title,cast,crew
507,602,Independence Day,"[{""cast_id"": 16, ""character"": ""Captain Steven ...","[{""credit_id"": ""52fe425bc3a36847f8017f63"", ""de..."

In [6]:
credits.columns = ['id', 'title', 'cast', 'crew']

In [7]:
credits.sample()

,id,title,cast,crew
3180,1619,The Way of the Gun,"[{""cast_id"": 1, ""character"": ""Mr. Longbaugh"", ...","[{""credit_id"": ""5712d0029251410aab00430a"", ""de..."

In [8]:
movies.sample()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
4680,450000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",http://www.malevolencemovie.com/,54702,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 6259,...",en,Malevolence,It's ten years after the kidnapping of Martin ...,1.077321,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-09-10,0,90.0,"[{""iso_639_1"": ""pl"", ""name"": ""Polski""}, {""iso_...",Released,NaN,Malevolence,4.9,14

In [9]:
dataset = credits.merge(movies,on=["id"])

In [10]:
dataset.sample()

,id,title_x,cast,crew,budget,genres,homepage,keywords,original_language,original_title,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count
3740,27191,The Greatest Show on Earth,"[{""cast_id"": 2, ""character"": ""Holly"", ""credit_...","[{""credit_id"": ""52fe4532c3a368484e04daa7"", ""de...",4000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",NaN,"[{""id"": 291, ""name"": ""circus""}, {""id"": 41585, ...",en,The Greatest Show on Earth,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1952-01-10,36000000,152.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,The Greatest Show on Earth,6.6,50

In [11]:
dataset.describe()

,id,budget,popularity,revenue,runtime,vote_average,vote_count
count,4803.000000,4.803000e+03,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,57165.484281,2.904504e+07,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,88694.614033,4.072239e+07,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,5.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,9014.500000,7.900000e+05,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,14629.000000,1.500000e+07,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,58610.500000,4.000000e+07,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,459488.000000,3.800000e+08,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [12]:
dataset.dtypes

id                        int64
title_x                  object
cast                     object
crew                     object
budget                    int64
genres                   object
homepage                 object
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title_y                  object
vote_average            float64
vote_count                int64
dtype: object

In [13]:
dataset.isnull().sum()

id                         0
title_x                    0
cast                       0
crew                       0
budget                     0
genres                     0
homepage                3091
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title_y                    0
vote_average               0
vote_count                 0
dtype: int64

In [14]:
dataset = dataset.drop(["homepage"],axis=1)

In [15]:
dataset.shape

(4803, 22)

In [16]:
type(dataset.loc[0,"crew"])

str

to convert the str into list we need to use literal_eval function

In [17]:
from ast import literal_eval

In [18]:
dataset.sample()

,id,title_x,cast,crew,budget,genres,keywords,original_language,original_title,overview,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count
162,10048,Stealth,"[{""cast_id"": 21, ""character"": ""Lt. Ben Gannon""...","[{""credit_id"": ""52fe43139251416c75002771"", ""de...",135000000,"[{""id"": 28, ""name"": ""Action""}]","[{""id"": 310, ""name"": ""artificial intelligence""...",en,Stealth,Deeply ensconced in a top-secret military prog...,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-07-28,76932943,121.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Fear The Sky,Stealth,4.9,331

In [19]:
features = ["cast","crew","genres","keywords","production_companies","production_countries","spoken_languages"]
for feature in features:
    dataset[feature]= dataset[feature].apply(literal_eval)

In [20]:
def get_director(columns):
    for i in columns:
        if i["job"]=="Director":
            return i["name"]
    return np.nan

In [21]:
dataset["director"] =dataset["crew"].apply(get_director)

In [22]:
dataset["director"][0:5]

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4       Andrew Stanton
Name: director, dtype: object

In [23]:
dataset["director"].isnull().sum()

30

In [24]:
def get_list(column):
    if isinstance(column,list):
        lst = [i["name"] for i in column]
        if len(lst)>3:
            lst = lst[:3]
            return lst
    return lst

In [25]:
features = ["cast","genres","keywords","production_companies","production_countries","spoken_languages"]
for feature in features:
    dataset[feature] = dataset[feature].apply(get_list)

In [26]:
dataset[features].sample()

,cast,genres,keywords,production_companies,production_countries,spoken_languages
3037,"[Jeremy Piven, Ving Rhames, James Brolin]",[Comedy],[duringcreditsstinger],"[Paramount Vantage, Kevin Messick Productions,...",[United States of America],[English]

In [27]:
dataset.sample()

,id,title_x,cast,crew,budget,genres,keywords,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count,director
2602,97430,The Man with the Iron Fists,"[Russell Crowe, Lucy Liu, Jamie Chung]","[{'credit_id': '535289910e0a26561d003136', 'de...",15000000,[Action],"[blacksmith, brothel, femme fatale]",en,The Man with the Iron Fists,"In feudal China, a blacksmith who makes weapon...",...,2012-11-02,15608545,96.0,[English],Released,You can't spell Kung Fu without F and U!,The Man with the Iron Fists,5.2,358,RZA

In [28]:
dataset[['title_x', 'cast', 'director', 'keywords', 'genres',"budget","revenue"]].head()

,title_x,cast,director,keywords,genres,budget,revenue
0,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron,"[culture clash, future, space war]","[Action, Adventure, Fantasy]",237000000,2787965087
1,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski,"[ocean, drug abuse, exotic island]","[Adventure, Fantasy, Action]",300000000,961000000
2,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",Sam Mendes,"[spy, based on novel, secret agent]","[Action, Adventure, Crime]",245000000,880674609
3,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman]",Christopher Nolan,"[dc comics, crime fighter, terrorist]","[Action, Crime, Drama]",250000000,1084939099
4,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",Andrew Stanton,"[based on novel, mars, medallion]","[Action, Adventure, Science Fiction]",260000000,284139100

In [29]:
def clean_data(column):
    if isinstance(column,list):
        return [str.lower(i.replace(" ","")) for i in column]
    else:
        if isinstance(column,str):
            return str.lower(column.replace(" ",""))
        else :
            ""

In [30]:
features = ["cast","director","genres","keywords","production_companies","production_countries","spoken_languages"]
for feature in features:
    dataset[feature]=dataset[feature].apply(clean_data)

In [31]:
dataset[features].sample()

,cast,director,genres,keywords,production_companies,production_countries,spoken_languages
4282,"[amysteel, johnfurey, adrienneking]",steveminer,"[horror, thriller]","[camping, summercamp, gore]","[paramountpictures, georgetownproductions,inc.]",[unitedstatesofamerica],[english]

In [32]:
def create_soup(dataset):
    return ' '.join(dataset["cast"])+" "+str(dataset["director"])+" "+" ".join(dataset["genres"])+" "+" ".join(dataset["keywords"])+" "+" ".join(dataset["production_companies"])+" "+" ".join(dataset["production_countries"])+" "+" ".join(dataset["spoken_languages"])

In [33]:
dataset["cast"]

0        [samworthington, zoesaldana, sigourneyweaver]
1           [johnnydepp, orlandobloom, keiraknightley]
2            [danielcraig, christophwaltz, léaseydoux]
3            [christianbale, michaelcaine, garyoldman]
4          [taylorkitsch, lynncollins, samanthamorton]
                             ...
4798    [carlosgallardo, jaimedehoyos, petermarquardt]
4799         [edwardburns, kerrybishé, marshadietlein]
4800           [ericmabius, kristinbooth, crystallowe]
4801            [danielhenney, elizacoupe, billpaxton]
4802    [drewbarrymore, brianherzlinger, coreyfeldman]
Name: cast, Length: 4803, dtype: object

In [34]:
dataset["soup"] = dataset.apply(create_soup,axis=1)

In [35]:
dataset.loc[0,"soup"]

'samworthington zoesaldana sigourneyweaver jamescameron action adventure fantasy cultureclash future spacewar ingeniousfilmpartners twentiethcenturyfoxfilmcorporation duneentertainment unitedstatesofamerica unitedkingdom english español'

Our movie recommendation engine works by suggesting movies to the user based on the metadata information. The similarity between the movies is calculated and then used to make recommendations. For that, our text data should be preprocessed and converted into a vectorizer using the CountVectorizer. As the name suggests, CountVectorizer counts the frequency of each word and outputs a 2D vector containing frequencies.

We don’t take into account the words like a, an, the (these are called “stopwords”) because these words are usually present in higher amounts in the text and don’t make any sense.

There exist several similarity score functions such as cosine similarity, Pearson correlation coefficient, etc. Here, we use the cosine similarity score as this is just the dot product of the vector output by the CountVectorizer.

In [36]:
dataset.head()

,id,title_x,cast,crew,budget,genres,keywords,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count,director,soup
0,19995,Avatar,"[samworthington, zoesaldana, sigourneyweaver]","[{'credit_id': '52fe48009251416c750aca23', 'de...",237000000,"[action, adventure, fantasy]","[cultureclash, future, spacewar]",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",...,2787965087,162.0,"[english, español]",Released,Enter the World of Pandora.,Avatar,7.2,11800,jamescameron,samworthington zoesaldana sigourneyweaver jame...
1,285,Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",300000000,"[adventure, fantasy, action]","[ocean, drugabuse, exoticisland]",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",...,961000000,169.0,[english],Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,goreverbinski,johnnydepp orlandobloom keiraknightley gorever...
2,206647,Spectre,"[danielcraig, christophwaltz, léaseydoux]","[{'credit_id': '54805967c3a36829b5002c41', 'de...",245000000,"[action, adventure, crime]","[spy, basedonnovel, secretagent]",en,Spectre,A cryptic message from Bond’s past sends him o...,...,880674609,148.0,"[français, english, español]",Released,A Plan No One Escapes,Spectre,6.3,4466,sammendes,danielcraig christophwaltz léaseydoux sammende...
3,49026,The Dark Knight Rises,"[christianbale, michaelcaine, garyoldman]","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...",250000000,"[action, crime, drama]","[dccomics, crimefighter, terrorist]",en,The Dark Knight Rises,Following the death of District Attorney Harve...,...,1084939099,165.0,[english],Released,The Legend Ends,The Dark Knight Rises,7.6,9106,christophernolan,christianbale michaelcaine garyoldman christop...
4,49529,John Carter,"[taylorkitsch, lynncollins, samanthamorton]","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...",260000000,"[action, adventure, sciencefiction]","[basedonnovel, mars, medallion]",en,John Carter,"John Carter is a war-weary, former military ca...",...,284139100,132.0,[english],Released,"Lost in our world, found in another.",John Carter,6.1,2124,andrewstanton,taylorkitsch lynncollins samanthamorton andrew...

In [37]:
dataset.to_csv("final_dataset.csv")

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [39]:
countvec = CountVectorizer(stop_words="english")
count_matrix = countvec.fit_transform(dataset["soup"])

In [40]:
count_matrix.shape

(4803, 15135)

In [41]:
cosin_sim = cosine_similarity(count_matrix,count_matrix)

In [42]:
cosin_sim.shape

(4803, 4803)

In [43]:
dataset = dataset.reset_index()

In [44]:
dataset.head()

,index,id,title_x,cast,crew,budget,genres,keywords,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count,director,soup
0,0,19995,Avatar,"[samworthington, zoesaldana, sigourneyweaver]","[{'credit_id': '52fe48009251416c750aca23', 'de...",237000000,"[action, adventure, fantasy]","[cultureclash, future, spacewar]",en,Avatar,...,2787965087,162.0,"[english, español]",Released,Enter the World of Pandora.,Avatar,7.2,11800,jamescameron,samworthington zoesaldana sigourneyweaver jame...
1,1,285,Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",300000000,"[adventure, fantasy, action]","[ocean, drugabuse, exoticisland]",en,Pirates of the Caribbean: At World's End,...,961000000,169.0,[english],Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,goreverbinski,johnnydepp orlandobloom keiraknightley gorever...
2,2,206647,Spectre,"[danielcraig, christophwaltz, léaseydoux]","[{'credit_id': '54805967c3a36829b5002c41', 'de...",245000000,"[action, adventure, crime]","[spy, basedonnovel, secretagent]",en,Spectre,...,880674609,148.0,"[français, english, español]",Released,A Plan No One Escapes,Spectre,6.3,4466,sammendes,danielcraig christophwaltz léaseydoux sammende...
3,3,49026,The Dark Knight Rises,"[christianbale, michaelcaine, garyoldman]","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...",250000000,"[action, crime, drama]","[dccomics, crimefighter, terrorist]",en,The Dark Knight Rises,...,1084939099,165.0,[english],Released,The Legend Ends,The Dark Knight Rises,7.6,9106,christophernolan,christianbale michaelcaine garyoldman christop...
4,4,49529,John Carter,"[taylorkitsch, lynncollins, samanthamorton]","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...",260000000,"[action, adventure, sciencefiction]","[basedonnovel, mars, medallion]",en,John Carter,...,284139100,132.0,[english],Released,"Lost in our world, found in another.",John Carter,6.1,2124,andrewstanton,taylorkitsch lynncollins samanthamorton andrew...

In [45]:
indices = pd.Series(dataset.index,index=dataset["title_x"])

In [46]:
indices.shape

(4803,)

In [47]:
indices = indices.drop_duplicates()

In [48]:
indices.shape

(4803,)

In [49]:
def recommendation_system(title,cosin_sim=cosin_sim):
    ids = indices[title]
    x = sorted(list(enumerate(cosin_sim[ids])),key=lambda x:x[1],reverse=True)[0:11]
    lst = [i[0] for i in x]
    names = dataset["title_x"].iloc[lst]
    return names[1:]

In [50]:
recommendation_system("Avatar")

292                                             Eragon
1652                              Dragonball Evolution
215             Fantastic 4: Rise of the Silver Surfer
101                                 X-Men: First Class
121     Night at the Museum: Battle of the Smithsonian
2403                                            Aliens
2444                                   Damnation Alley
3158                                             Alien
46                          X-Men: Days of Future Past
261                              Live Free or Die Hard
Name: title_x, dtype: object

In [51]:
recommendation_system("The Avengers")

7                   Avengers: Age of Ultron
26               Captain America: Civil War
85      Captain America: The Winter Soldier
79                               Iron Man 2
169      Captain America: The First Avenger
182                                 Ant-Man
174                     The Incredible Hulk
31                               Iron Man 3
68                                 Iron Man
4401                    The Helix... Loaded
Name: title_x, dtype: object

In [52]:
dataset.head()

,index,id,title_x,cast,crew,budget,genres,keywords,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count,director,soup
0,0,19995,Avatar,"[samworthington, zoesaldana, sigourneyweaver]","[{'credit_id': '52fe48009251416c750aca23', 'de...",237000000,"[action, adventure, fantasy]","[cultureclash, future, spacewar]",en,Avatar,...,2787965087,162.0,"[english, español]",Released,Enter the World of Pandora.,Avatar,7.2,11800,jamescameron,samworthington zoesaldana sigourneyweaver jame...
1,1,285,Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",300000000,"[adventure, fantasy, action]","[ocean, drugabuse, exoticisland]",en,Pirates of the Caribbean: At World's End,...,961000000,169.0,[english],Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,goreverbinski,johnnydepp orlandobloom keiraknightley gorever...
2,2,206647,Spectre,"[danielcraig, christophwaltz, léaseydoux]","[{'credit_id': '54805967c3a36829b5002c41', 'de...",245000000,"[action, adventure, crime]","[spy, basedonnovel, secretagent]",en,Spectre,...,880674609,148.0,"[français, english, español]",Released,A Plan No One Escapes,Spectre,6.3,4466,sammendes,danielcraig christophwaltz léaseydoux sammende...
3,3,49026,The Dark Knight Rises,"[christianbale, michaelcaine, garyoldman]","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...",250000000,"[action, crime, drama]","[dccomics, crimefighter, terrorist]",en,The Dark Knight Rises,...,1084939099,165.0,[english],Released,The Legend Ends,The Dark Knight Rises,7.6,9106,christophernolan,christianbale michaelcaine garyoldman christop...
4,4,49529,John Carter,"[taylorkitsch, lynncollins, samanthamorton]","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...",260000000,"[action, adventure, sciencefiction]","[basedonnovel, mars, medallion]",en,John Carter,...,284139100,132.0,[english],Released,"Lost in our world, found in another.",John Carter,6.1,2124,andrewstanton,taylorkitsch lynncollins samanthamorton andrew...

In [53]:
C = dataset["vote_average"].mean()
m =int(dataset["vote_count"].quantile(0.95)) 
def weight_matrix(dataset):
    R = dataset['vote_average']
    v = dataset["vote_count"]
    return (v /(v+m))*R + (m /(v+m)*C)
dataset["weighted_rating"] = dataset.apply(weight_matrix,axis=1)
top_10 = (dataset.sort_values("weighted_rating",ascending=False)[0:10]).copy()
top_10

,index,id,title_x,cast,crew,budget,genres,keywords,original_language,original_title,...,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count,director,soup,weighted_rating
1881,1881,278,The Shawshank Redemption,"[timrobbins, morganfreeman, bobgunton]","[{'credit_id': '52fe4231c3a36847f800b153', 'de...",25000000,"[drama, crime]","[prison, corruption, policebrutality]",en,The Shawshank Redemption,...,142.0,[english],Released,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption,8.5,8205,frankdarabont,timrobbins morganfreeman bobgunton frankdarabo...,7.849062
65,65,155,The Dark Knight,"[christianbale, heathledger, aaroneckhart]","[{'credit_id': '55a0eb4a925141296b0010f8', 'de...",185000000,"[drama, action, crime]","[dccomics, crimefighter, secretidentity]",en,The Dark Knight,...,152.0,"[english, 普通话]",Released,Why So Serious?,The Dark Knight,8.2,12002,christophernolan,christianbale heathledger aaroneckhart christo...,7.774006
662,662,550,Fight Club,"[edwardnorton, bradpitt, meatloaf]","[{'credit_id': '55731b8192514111610027d7', 'de...",63000000,[drama],"[supportgroup, dualidentity, nihilism]",en,Fight Club,...,139.0,[english],Released,Mischief. Mayhem. Soap.,Fight Club,8.3,9413,davidfincher,edwardnorton bradpitt meatloaf davidfincher dr...,7.761030
96,96,27205,Inception,"[leonardodicaprio, josephgordon-levitt, ellenp...","[{'credit_id': '56e8462cc3a368408400354c', 'de...",160000000,"[action, thriller, sciencefiction]","[lossoflover, dream, kidnapping]",en,Inception,...,148.0,"[english, 日本語, français]",Released,Your mind is the scene of the crime.,Inception,8.1,13752,christophernolan,leonardodicaprio josephgordon-levitt ellenpage...,7.736506
3232,3232,680,Pulp Fiction,"[johntravolta, samuell.jackson, umathurman]","[{'credit_id': '52fe4269c3a36847f801caa3', 'de...",8000000,"[thriller, crime]","[transporter, brothel, drugdealer]",en,Pulp Fiction,...,154.0,"[english, español, français]",Released,Just because you are a character doesn't mean ...,Pulp Fiction,8.3,8428,quentintarantino,johntravolta samuell.jackson umathurman quenti...,7.714737
95,95,157336,Interstellar,"[matthewmcconaughey, jessicachastain, annehath...","[{'credit_id': '52fe4bbf9251416c910e4801', 'de...",165000000,"[adventure, drama, sciencefiction]","[savingtheworld, artificialintelligence, fathe...",en,Interstellar,...,169.0,[english],Released,Mankind was born on Earth. It was never meant ...,Interstellar,8.1,10867,christophernolan,matthewmcconaughey jessicachastain annehathawa...,7.661099
809,809,13,Forrest Gump,"[tomhanks, robinwright, garysinise]","[{'credit_id': '52fe420ec3a36847f800076b', 'de...",55000000,"[comedy, drama, romance]","[vietnamveteran, hippie, mentallydisabled]",en,Forrest Gump,...,142.0,[english],Released,"The world will never be the same, once you've ...",Forrest Gump,8.2,7927,robertzemeckis,tomhanks robinwright garysinise robertzemeckis...,7.615720
3337,3337,238,The Godfather,"[marlonbrando, alpacino, jamescaan]","[{'credit_id': '52fe422bc3a36847f80093c9', 'de...",6000000,"[drama, crime]","[italy, loveatfirstsight, lossoffather]",en,The Godfather,...,175.0,"[english, italiano, latin]",Released,An offer you can't refuse.,The Godfather,8.4,5893,francisfordcoppola,marlonbrando alpacino jamescaan francisfordcop...,7.614620
329,329,122,The Lord of the Rings: The Return of the King,"[elijahwood, ianmckellen, viggomortensen]","[{'credit_id': '52fe421bc3a36847f80046c3', 'de...",94000000,"[adventure, fantasy, action]","[elves, orcs, middle-earth(tolkien)]",en,The Lord of the Rings: The Return of the King,...,201.0,[english],Released,The eye of the enemy is moving.,The Lord of the Rings: The Return of the King,8.1,8064,peterjackson,elijahwood ianmckellen viggomortensen peterjac...,7.550306
262,262,120,The Lord of the Rings: The Fellowship of the Ring,"[elijahwood, ianmckellen, cateblanchett]","[{'credit_id': '52fe421ac3a36847f80043fb', 'de...",93000000,"[adventure, fantasy, action]","[elves, dwarves, orcs]",en,The Lord of the Rings: The Fellowship of the Ring,...,178.0,[english],Released,One ring to rule them all,The Lord of the Rings: The Fellowship of the Ring,8.0,8705,peterjackson,elijahwood ianmckellen cateblanchett peterjack...,7.506190

In [54]:
for i in top_10.index:
    print(dataset.iloc[i].id)
    print(dataset.iloc[i].title_x)

278
The Shawshank Redemption
155
The Dark Knight
550
Fight Club
27205
Inception
680
Pulp Fiction
157336
Interstellar
13
Forrest Gump
238
The Godfather
122
The Lord of the Rings: The Return of the King
120
The Lord of the Rings: The Fellowship of the Ring

In [56]:
dataset.iloc[i].title_x

'The Lord of the Rings: The Fellowship of the Ring'

In [57]:

indices_genre = pd.Series(top_10.index,index=top_10["title_x"])
indices_genre

title_x
The Shawshank Redemption                             1881
The Dark Knight                                        65
Fight Club                                            662
Inception                                              96
Pulp Fiction                                         3232
Interstellar                                           95
Forrest Gump                                          809
The Godfather                                        3337
The Lord of the Rings: The Return of the King         329
The Lord of the Rings: The Fellowship of the Ring     262
dtype: int64

In [58]:
x_genre= sorted(list(enumerate(indices_genre)),key=lambda x:x[1],reverse=True)[0:11]
x_genre

[(7, 3337),
 (4, 3232),
 (0, 1881),
 (6, 809),
 (2, 662),
 (8, 329),
 (9, 262),
 (3, 96),
 (5, 95),
 (1, 65)]

In [59]:
dataset.to_csv("final_dataset.csv")

In [60]:
d = dict()
for i in dataset["genres"]:
    for j in i:
        if j not in d:
            d[j]=j
genres_list = list(d.values())
print(genres_list)

['action', 'adventure', 'fantasy', 'crime', 'drama', 'sciencefiction', 'animation', 'family', 'thriller', 'western', 'comedy', 'romance', 'horror', 'mystery', 'history', 'war', 'music', 'documentary', 'foreign', 'tvmovie']

In [61]:
indices

title_x
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

In [63]:
def recommend(genre):
    
    indices = pd.Series(dataset.index,index=dataset["title_x"])
    ids = indices[movie]
    cosin_sim = create_similarity()
    x = sorted(list(enumerate(cosin_sim[ids])),key=lambda x:x[1],reverse=True)[0:11]
    lst = [i[0] for i in x]
    recommended_movie_names = []
    recommended_movie_posters = []
    for i in lst[1:]:
        movie_id = dataset.iloc[i].id
        #print(movie_id)
        # fetch poster from api
        recommended_movie_posters.append(fetch_poster(movie_id))
        recommended_movie_names.append(dataset.iloc[i].title_x)
    return recommended_movie_names,recommended_movie_posters

In [137]:
def recommend_genre(selected_genre):
    dataset = pd.read_csv("final_dataset.csv")
    dataset = dataset[dataset["genres"].str.contains(selected_genre)]
    dataset = dataset.drop(["index"],axis=1)
    dataset = (dataset.sort_values("weighted_rating",ascending=False)[0:10]).copy()
    dataset =dataset.drop(["Unnamed: 0"],axis=1)
    recommended_movie_names_genre = []
    recommended_movie_posters_genre = []
    
#     for i in top_10.index:
#         movie_id = dataset.iloc[i].id
    return dataset.iloc[9].title_x

In [138]:
recommend_genre("action")

'Inglourious Basterds'

In [139]:
video_data = {'id': 155, 'results': [{'iso_639_1': 'en', 'iso_3166_1': 'US', 'name': 'Batman Becomes the Villain Clip', 'key': 'QEBCT-Lsh-A', 'site': 'YouTube', 'size': 720, 'type': 'Clip', 'official': True, 'published_at': '2022-03-02T01:00:52.000Z', 'id': '621efa377719d7006da0d9ae'}, {'iso_639_1': 'en', 'iso_3166_1': 'US', 'name': 'The Joker Visits Gotham Hospital Clip', 'key': 'sW7Ihg_o5E8', 'site': 'YouTube', 'size': 720, 'type': 'Clip', 'official': True, 'published_at': '2022-02-09T01:00:22.000Z', 'id': '62298d26d34eb3006d44adba'}, {'iso_639_1': 'en', 'iso_3166_1': 'US', 'name': 'Best Joker Scenes in The Dark Knight', 'key': 'lNLmk7CPtOw', 'site': 'YouTube', 'size': 1080, 'type': 'Featurette', 'official': True, 'published_at': '2020-11-21T17:00:04.000Z', 'id': '62298d72069f0e001d9e8866'}, {'iso_639_1': 'en', 'iso_3166_1': 'US', 'name': "The Joker's Interrogation Clip", 'key': '_XGnc0rz_Nc', 'site': 'YouTube', 'size': 1080, 'type': 'Clip', 'official': True, 'published_at': '2013-09-20T00:55:38.000Z', 'id': '622990876e938a004560133f'}, {'iso_639_1': 'en', 'iso_3166_1': 'US', 'name': 'Harvey Dent and The Joker Clip', 'key': 'O4Ytmpb-ReQ', 'site': 'YouTube', 'size': 1080, 'type': 'Clip', 'official': True, 'published_at': '2013-09-20T00:55:11.000Z', 'id': '62299039498ef9006d13291c'}, {'iso_639_1': 'en', 'iso_3166_1': 'US', 'name': "Mr. Reese's Plan Clip", 'key': '7zJ0DLJmXl8', 'site': 'YouTube', 'size': 1080, 'type': 'Clip', 'official': True, 'published_at': '2013-09-20T00:54:42.000Z', 'id': '62298ffd770700006e2e5ef1'}, {'iso_639_1': 'en', 'iso_3166_1': 'US', 'name': 'Official Trailer', 'key': 'kmJLuwP3MbY', 'published_at': '2011-04-01T22:34:24.000Z', 'site': 'YouTube', 'size': 1080, 'type': 'Trailer', 'official': True, 'id': '58f284f49251413da7003225'}]}

In [141]:
video_data["results"]

[{'iso_639_1': 'en',
  'iso_3166_1': 'US',
  'name': 'Batman Becomes the Villain Clip',
  'key': 'QEBCT-Lsh-A',
  'site': 'YouTube',
  'size': 720,
  'type': 'Clip',
  'official': True,
  'published_at': '2022-03-02T01:00:52.000Z',
  'id': '621efa377719d7006da0d9ae'},
 {'iso_639_1': 'en',
  'iso_3166_1': 'US',
  'name': 'The Joker Visits Gotham Hospital Clip',
  'key': 'sW7Ihg_o5E8',
  'site': 'YouTube',
  'size': 720,
  'type': 'Clip',
  'official': True,
  'published_at': '2022-02-09T01:00:22.000Z',
  'id': '62298d26d34eb3006d44adba'},
 {'iso_639_1': 'en',
  'iso_3166_1': 'US',
  'name': 'Best Joker Scenes in The Dark Knight',
  'key': 'lNLmk7CPtOw',
  'site': 'YouTube',
  'size': 1080,
  'type': 'Featurette',
  'official': True,
  'published_at': '2020-11-21T17:00:04.000Z',
  'id': '62298d72069f0e001d9e8866'},
 {'iso_639_1': 'en',
  'iso_3166_1': 'US',
  'name': "The Joker's Interrogation Clip",
  'key': '_XGnc0rz_Nc',
  'site': 'YouTube',
  'size': 1080,
  'type': 'Clip',
  'official': True,
  'published_at': '2013-09-20T00:55:38.000Z',
  'id': '622990876e938a004560133f'},
 {'iso_639_1': 'en',
  'iso_3166_1': 'US',
  'name': 'Harvey Dent and The Joker Clip',
  'key': 'O4Ytmpb-ReQ',
  'site': 'YouTube',
  'size': 1080,
  'type': 'Clip',
  'official': True,
  'published_at': '2013-09-20T00:55:11.000Z',
  'id': '62299039498ef9006d13291c'},
 {'iso_639_1': 'en',
  'iso_3166_1': 'US',
  'name': "Mr. Reese's Plan Clip",
  'key': '7zJ0DLJmXl8',
  'site': 'YouTube',
  'size': 1080,
  'type': 'Clip',
  'official': True,
  'published_at': '2013-09-20T00:54:42.000Z',
  'id': '62298ffd770700006e2e5ef1'},
 {'iso_639_1': 'en',
  'iso_3166_1': 'US',
  'name': 'Official Trailer',
  'key': 'kmJLuwP3MbY',
  'published_at': '2011-04-01T22:34:24.000Z',
  'site': 'YouTube',
  'size': 1080,
  'type': 'Trailer',
  'official': True,
  'id': '58f284f49251413da7003225'}]

In [142]:
video_data = {'id': 127585, 'results': [{'iso_639_1': 'en', 'iso_3166_1': 'US', 'name': 'X-Men: Days of Future Past | X-Men X-Perience: Hugh Jackman', 'key': '7tByfJVtcDg', 'published_at': '2014-04-29T14:02:29.000Z', 'site': 'YouTube', 'size': 1080, 'type': 'Featurette', 'official': False, 'id': '536346d70e0a261dfe001a78'}, {'iso_639_1': 'en', 'iso_3166_1': 'US', 'name': 'X-Men: Days of Future Past | Official Trailer 3 [HD] | 20th Century FOX', 'key': 'gsjtg7m1MMM', 'published_at': '2014-04-16T02:56:00.000Z', 'site': 'YouTube', 'size': 1080, 'type': 'Trailer', 'official': False, 'id': '5bac888cc3a3683aaf035675'}, {'iso_639_1': 'en', 'iso_3166_1': 'US', 'name': 'X-Men: Days of Future Past | Official Trailer 2 [HD] | 20th Century FOX', 'key': '6acRHWnfZAE', 'published_at': '2014-03-24T12:55:31.000Z', 'site': 'YouTube', 'size': 1080, 'type': 'Trailer', 'official': False, 'id': '5bac88770e0a2664d4034b65'}, {'iso_639_1': 'en', 'iso_3166_1': 'US', 'name': 'X-MEN: DAYS OF FUTURE PAST - Official Trailer (2014)', 'key': 'pK2zYHWDZKo', 'published_at': '2013-10-29T12:45:12.000Z', 'site': 'YouTube', 'size': 1080, 'type': 'Trailer', 'official': False, 'id': '5bac8860c3a3683a97038254'}]}

In [146]:
video_data["results"]

[{'iso_639_1': 'en',
  'iso_3166_1': 'US',
  'name': 'X-Men: Days of Future Past | X-Men X-Perience: Hugh Jackman',
  'key': '7tByfJVtcDg',
  'published_at': '2014-04-29T14:02:29.000Z',
  'site': 'YouTube',
  'size': 1080,
  'type': 'Featurette',
  'official': False,
  'id': '536346d70e0a261dfe001a78'},
 {'iso_639_1': 'en',
  'iso_3166_1': 'US',
  'name': 'X-Men: Days of Future Past | Official Trailer 3 [HD] | 20th Century FOX',
  'key': 'gsjtg7m1MMM',
  'published_at': '2014-04-16T02:56:00.000Z',
  'site': 'YouTube',
  'size': 1080,
  'type': 'Trailer',
  'official': False,
  'id': '5bac888cc3a3683aaf035675'},
 {'iso_639_1': 'en',
  'iso_3166_1': 'US',
  'name': 'X-Men: Days of Future Past | Official Trailer 2 [HD] | 20th Century FOX',
  'key': '6acRHWnfZAE',
  'published_at': '2014-03-24T12:55:31.000Z',
  'site': 'YouTube',
  'size': 1080,
  'type': 'Trailer',
  'official': False,
  'id': '5bac88770e0a2664d4034b65'},
 {'iso_639_1': 'en',
  'iso_3166_1': 'US',
  'name': 'X-MEN: DAYS OF FUTURE PAST - Official Trailer (2014)',
  'key': 'pK2zYHWDZKo',
  'published_at': '2013-10-29T12:45:12.000Z',
  'site': 'YouTube',
  'size': 1080,
  'type': 'Trailer',
  'official': False,
  'id': '5bac8860c3a3683a97038254'}]

In [144]:
key = ''
for i in video_data["results"]:
    if i["type"]=='Trailer':
        key=i['key']

In [145]:
key

'pK2zYHWDZKo'